.form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;

  mat-card {
    max-width: 600px;
    width: 100%;
  }

  .full-width {
    width: 100%;
    margin-bottom: 10px;
  }

  .row {
    display: flex;
    gap: 16px;
    mat-form-field {
      flex: 1;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}