<div class="form-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Novo Cliente</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="cadastroForm" (ngSubmit)="salvar()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nome Completo</mat-label>
          <input matInput formControlName="nome" placeholder="Ex. João Silva">
          @if (cadastroForm.get('nome')?.hasError('required')) {
            <mat-error>O nome é obrigatório</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="email@exemplo.com">
          @if (cadastroForm.get('email')?.hasError('email')) {
            <mat-error>Insira um e-mail válido</mat-error>
          }
        </mat-form-field>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput 
                        formControlName="cpf" 
                        mask="000.000.000-00" 
                        [dropSpecialCharacters]="true" 
                        placeholder="000.000.000-00">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input matInput 
                        formControlName="telefone" 
                        mask="(00) 00000-0000" 
                        [dropSpecialCharacters]="true" 
                        placeholder="(11) 99999-9999">
            </mat-form-field>
        </div>

        <div class="actions">
          <button mat-raised-button color="primary" type="submit" [disabled]="cadastroForm.invalid">
            Salvar
          </button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>